@import "tailwindcss";

/* Custom Font Faces */
@font-face {
  font-family: 'Breadley Sans';
  src: url('./assets/fonts/breadley-sans/BreadleySans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('./assets/fonts/snell-roundhand/Snell-Roundhand-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('./assets/fonts/snell-roundhand/Snell-Roundhand-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('./assets/fonts/snell-roundhand/Snell-Roundhand-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Global Styles */
body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  min-height: 100vh;
  display: block;
  box-sizing: border-box;
}
